################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameCard/.vs
/GameCard/obj
/GameCard.Team/obj
/GameDynamic/obj
/.vs/GameCard
/GameCard.Console/.vs
/GameCard.Console/obj/Debug/net7.0
/GameCard.Dynamic/obj
/GameCard.Console/obj
